test-flow.json
[{"id":"d465c5cc.febf58","type":"tab","label":"AWS","disabled":false,"info":""},{"id":"db47f59c.2a016","type":"tab","label":"AWS-ISTIO","disabled":false,"info":""},{"id":"12cafecf.a4a0a9","type":"tab","label":"TAND-ISTIO","disabled":false,"info":""},{"id":"914830ef.d2271","type":"tab","label":"TAND","disabled":false,"info":""},{"id":"2424bdb5.da803a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1e9d7e80.d90fca","type":"inject","z":"d465c5cc.febf58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["857cc0b9.4a88f"]]},{"id":"857cc0b9.4a88f","type":"function","z":"d465c5cc.febf58","name":"","func":"msg.cmd='listConsumers';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["56229635.5acfe8"]]},{"id":"2a05e139.7876be","type":"debug","z":"d465c5cc.febf58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":160,"wires":[]},{"id":"56229635.5acfe8","type":"redlink store","z":"d465c5cc.febf58","listenAddress":"127.0.0.1","listenPort":"5031","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"5100"},{"ip":"127.0.0.1","port":"5101"}],"name":"s51","meshName":"mesh0","notifyInterval":15,"x":380,"y":159,"wires":[["2a05e139.7876be"]]},{"id":"dd397618.897a6","type":"redlink consumer","z":"d465c5cc.febf58","name":"remedyCreate","consumerStoreName":"mesh0:s51","intransit":1,"manualReadReceiveSend":false,"rateTypeReceiveSend":"none","rateReceiveSend":1,"rateUnitsReceiveSend":"second","nbRateUnitsReceiveSend":"","topicReceiveSend":"","cmd":"read","showStatsReceiveSend":false,"statsFrequencyReceiveSend":0,"showDebugReceiveSend":false,"outputs":2,"x":280,"y":240,"wires":[[],[]]},{"id":"135c3a91.5f09cd","type":"redlink store","z":"db47f59c.2a016","listenAddress":"127.0.0.1","listenPort":"5100","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"5101"},{"ip":"127.0.0.1","port":"6100"},{"ip":"127.0.0.1","port":"6101"}],"name":"AWS-ISTIO-1","meshName":"mesh0","notifyInterval":15,"x":480,"y":160,"wires":[["86160be0.610458"]]},{"id":"8cc2282f.b266d","type":"redlink store","z":"db47f59c.2a016","listenAddress":"127.0.0.1","listenPort":"5101","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"5100"},{"ip":"127.0.0.1","port":"6100"},{"ip":"127.0.0.1","port":"6101"}],"name":"AWS-ISTIO-2","meshName":"mesh0","notifyInterval":15,"x":480,"y":200,"wires":[["3b2681be.33e86e"]]},{"id":"57beed19.d9792c","type":"inject","z":"db47f59c.2a016","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":180,"wires":[["87825ab2.e967"]]},{"id":"87825ab2.e967","type":"function","z":"db47f59c.2a016","name":"","func":"msg.cmd='listConsumers';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":180,"wires":[["135c3a91.5f09cd","8cc2282f.b266d"]]},{"id":"86160be0.610458","type":"debug","z":"db47f59c.2a016","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":160,"wires":[]},{"id":"3b2681be.33e86e","type":"debug","z":"db47f59c.2a016","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":200,"wires":[]},{"id":"c369798b.0d803","type":"redlink store","z":"12cafecf.a4a0a9","listenAddress":"127.0.0.1","listenPort":"6100","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"6101"}],"name":"TAND-ISTIO-1","meshName":"mesh0","notifyInterval":15,"x":460,"y":200,"wires":[["21909391.f0a35c"]]},{"id":"61bf3165.13724","type":"redlink store","z":"12cafecf.a4a0a9","listenAddress":"127.0.0.1","listenPort":"6101","peerAddress":"0.0.0.0","peerPort":443,"headers":[],"name":"TAND-ISTIO-2","meshName":"mesh0","notifyInterval":15,"x":460,"y":240,"wires":[["9bcffd41.030e7"]]},{"id":"1af51a37.030e16","type":"inject","z":"12cafecf.a4a0a9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["f5ebeca4.bbd1d8"]]},{"id":"f5ebeca4.bbd1d8","type":"function","z":"12cafecf.a4a0a9","name":"","func":"msg.cmd='listConsumers';\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["c369798b.0d803","61bf3165.13724"]]},{"id":"21909391.f0a35c","type":"debug","z":"12cafecf.a4a0a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":200,"wires":[]},{"id":"9bcffd41.030e7","type":"debug","z":"12cafecf.a4a0a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":240,"wires":[]},{"id":"bf972f2a.8a044","type":"debug","z":"914830ef.d2271","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":200,"wires":[]},{"id":"8a70ae28.3b8e08","type":"redlink store","z":"914830ef.d2271","listenAddress":"127.0.0.1","listenPort":"6032","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"6100"},{"ip":"127.0.0.1","port":"6101"}],"name":"s61","meshName":"mesh0","notifyInterval":15,"x":500,"y":200,"wires":[["bf972f2a.8a044"]]},{"id":"12a45eb2.e0edc1","type":"inject","z":"914830ef.d2271","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["3a1428fd.d37338"]]},{"id":"3a1428fd.d37338","type":"function","z":"914830ef.d2271","name":"","func":"msg.cmd='listStore';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["8a70ae28.3b8e08"]]},{"id":"cfdce54c.b6f8","type":"inject","z":"914830ef.d2271","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":180,"wires":[["12f20b6b.dd067d"]]},{"id":"12f20b6b.dd067d","type":"function","z":"914830ef.d2271","name":"","func":"msg.cmd='listConsumers';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["8a70ae28.3b8e08"]]},{"id":"ba7c9b11.16cb6","type":"redlink consumer","z":"914830ef.d2271","name":"SAM","consumerStoreName":"mesh0:s61","intransit":1,"manualReadReceiveSend":false,"rateTypeReceiveSend":"none","rateReceiveSend":1,"rateUnitsReceiveSend":"second","nbRateUnitsReceiveSend":"","topicReceiveSend":"","cmd":"read","showStatsReceiveSend":false,"statsFrequencyReceiveSend":0,"showDebugReceiveSend":false,"outputs":2,"x":450,"y":260,"wires":[[],[]]},{"id":"375d2cf5.124eac","type":"redlink consumer","z":"d465c5cc.febf58","name":"netcoolUpdate","consumerStoreName":"mesh0:s51","intransit":1,"manualReadReceiveSend":false,"rateTypeReceiveSend":"none","rateReceiveSend":1,"rateUnitsReceiveSend":"second","nbRateUnitsReceiveSend":"","topicReceiveSend":"","cmd":"read","showStatsReceiveSend":false,"statsFrequencyReceiveSend":0,"showDebugReceiveSend":false,"outputs":2,"x":280,"y":280,"wires":[[],[]]},{"id":"2efde88a.1c68b8","type":"redlink consumer","z":"914830ef.d2271","name":"AMS","consumerStoreName":"mesh0:s51","intransit":1,"manualReadReceiveSend":false,"rateTypeReceiveSend":"none","rateReceiveSend":1,"rateUnitsReceiveSend":"second","nbRateUnitsReceiveSend":"","topicReceiveSend":"","cmd":"read","showStatsReceiveSend":false,"statsFrequencyReceiveSend":0,"showDebugReceiveSend":false,"outputs":2,"x":450,"y":300,"wires":[[],[]]}]
