test-flow.json
[{"id":"56844aa7.cab094","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1ebda7d3.124d48","type":"redlink consumer","z":"56844aa7.cab094","name":"c22","consumerStoreName":"store-2","x":90,"y":440,"wires":[[],[]]},{"id":"5d24ca08.3fc0b4","type":"redlink producer","z":"56844aa7.cab094","name":"prod11","producerStoreName":"store-1","producerConsumer":"wombat22","producerTTL":15,"producerETT":300,"x":1130,"y":520,"wires":[[],[]]},{"id":"fb4809bd.918ef8","type":"inject","z":"56844aa7.cab094","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":840,"y":560,"wires":[["4b9aa26f.6f73fc"]]},{"id":"4b9aa26f.6f73fc","type":"function","z":"56844aa7.cab094","name":"","func":"msg = {\n    payload:'hey',\n    other:'stuff'\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":560,"wires":[["5d24ca08.3fc0b4","f6a7f0dc.fd51a"]]},{"id":"f6a7f0dc.fd51a","type":"debug","z":"56844aa7.cab094","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":620,"wires":[]},{"id":"dd25d7ba.00b258","type":"redlink consumer","z":"56844aa7.cab094","name":"c11","consumerStoreName":"store-1","x":90,"y":400,"wires":[[],[]]},{"id":"b77bb1fe.f667","type":"inject","z":"56844aa7.cab094","name":"listConsumers","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["94512936.f73b38"]]},{"id":"94512936.f73b38","type":"function","z":"56844aa7.cab094","name":"","func":"msg.cmd = 'listConsumers'\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["a181e89d.0119d8","e3956c5d.c1727","7fed0423.397d1c","2507fe9a.b6db52","98ddac09.1b1c4","b8326021.86158","d20846d2.ae3ec8"]]},{"id":"96378fb8.e95cf","type":"redlink consumer","z":"56844aa7.cab094","name":"c31","consumerStoreName":"store-1","x":90,"y":480,"wires":[[],[]]},{"id":"9cf60b46.97a148","type":"redlink consumer","z":"56844aa7.cab094","name":"c41","consumerStoreName":"store-1","x":90,"y":520,"wires":[[],[]]},{"id":"567c705c.1e0f","type":"comment","z":"56844aa7.cab094","name":"stores","info":"","x":410,"y":20,"wires":[]},{"id":"f8354802.0adea8","type":"comment","z":"56844aa7.cab094","name":"consumers","info":"","x":100,"y":340,"wires":[]},{"id":"d346c491.74f218","type":"comment","z":"56844aa7.cab094","name":"store-1","info":"","x":390,"y":400,"wires":[]},{"id":"b4e40e6e.92226","type":"comment","z":"56844aa7.cab094","name":"store-2","info":"","x":390,"y":440,"wires":[]},{"id":"e2fe5ab.1f4bca8","type":"comment","z":"56844aa7.cab094","name":"store-3","info":"","x":390,"y":480,"wires":[]},{"id":"ace827c0.b61078","type":"comment","z":"56844aa7.cab094","name":"store-4","info":"","x":390,"y":520,"wires":[]},{"id":"cce6c34a.7afd5","type":"comment","z":"56844aa7.cab094","name":"producers","info":"","x":960,"y":460,"wires":[]},{"id":"b73d9ac8.6597a8","type":"redlink consumer","z":"56844aa7.cab094","name":"c11","consumerStoreName":"store-4","x":210,"y":520,"wires":[[],[]]},{"id":"7fed0423.397d1c","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4433","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"4437"}],"name":"store-3","notifyInterval":15,"x":420,"y":140,"wires":[["6d6d08a4.04b2c8"]]},{"id":"2507fe9a.b6db52","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4434","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"4432"}],"name":"store-4","notifyInterval":15,"x":420,"y":180,"wires":[["6d6d08a4.04b2c8"]]},{"id":"98ddac09.1b1c4","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4435","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"4432"},{"ip":"127.0.0.1","port":"4433"},{"ip":"127.0.0.1","port":"4434"}],"name":"store-5","notifyInterval":15,"x":420,"y":220,"wires":[["6d6d08a4.04b2c8"]]},{"id":"b8326021.86158","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4436","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"4431"}],"name":"store-6","notifyInterval":15,"x":420,"y":260,"wires":[["6d6d08a4.04b2c8"]]},{"id":"d20846d2.ae3ec8","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4437","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"4435"}],"name":"store-7","notifyInterval":15,"x":420,"y":300,"wires":[["6d6d08a4.04b2c8"]]},{"id":"a181e89d.0119d8","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4431","peerAddress":"0.0.0.0","peerPort":443,"headers":[],"name":"store-1","notifyInterval":15,"x":420,"y":60,"wires":[["6d6d08a4.04b2c8"]]},{"id":"e3956c5d.c1727","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4432","peerAddress":"0.0.0.0","peerPort":443,"headers":[{"ip":"127.0.0.1","port":"4431"},{"ip":"127.0.0.1","port":"4436"}],"name":"store-2","notifyInterval":15,"x":420,"y":100,"wires":[["6d6d08a4.04b2c8"]]},{"id":"6d6d08a4.04b2c8","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":160,"wires":[]},{"id":"6632aaf9.75f7d4","type":"redlink consumer","z":"56844aa7.cab094","name":"c31","consumerStoreName":"store-1","x":210,"y":400,"wires":[[],[]]},{"id":"c2dc408f.43ebb","type":"comment","z":"56844aa7.cab094","name":"store-5","info":"","x":390,"y":560,"wires":[]},{"id":"1acbee33.5a5e92","type":"redlink consumer","z":"56844aa7.cab094","name":"c22","consumerStoreName":"store-5","x":90,"y":560,"wires":[[],[]]},{"id":"364db0d3.44cfd","type":"redlink consumer","z":"56844aa7.cab094","name":"c51","consumerStoreName":"store-5","x":210,"y":560,"wires":[[],[]]},{"id":"b066d2a5.5443e","type":"comment","z":"56844aa7.cab094","name":"store-6","info":"","x":390,"y":600,"wires":[]},{"id":"6c2eb7cb.e63028","type":"comment","z":"56844aa7.cab094","name":"store-7","info":"","x":390,"y":640,"wires":[]},{"id":"b97f4bb1.5eb4f8","type":"redlink consumer","z":"56844aa7.cab094","name":"c61","consumerStoreName":"store-6","x":90,"y":600,"wires":[[],[]]},{"id":"2117ee21.7d0592","type":"redlink consumer","z":"56844aa7.cab094","name":"c62","consumerStoreName":"store-6","x":210,"y":600,"wires":[[],[]]},{"id":"bc68a424.8cf5f8","type":"redlink consumer","z":"56844aa7.cab094","name":"c71","consumerStoreName":"store-7","x":90,"y":640,"wires":[[],[]]}]