test-flow.json
[{"id":"56844aa7.cab094","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b4c6264e.3b3738","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4431","peerAddress":"0.0.0.0","peerPort":443,"name":"store-1","functions":"Put the basic functions in Here from the \"info tab\"","notifyInterval":15,"x":80,"y":40,"wires":[["ad8b331f.ee6a2"]]},{"id":"1ebda7d3.124d48","type":"redlink consumer","z":"56844aa7.cab094","name":"wombat21","consumerStoreName":"store-2","x":170,"y":400,"wires":[["f11c07fd.4020c8"],["28cb8bed.120324"]]},{"id":"f11c07fd.4020c8","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":360,"wires":[]},{"id":"28cb8bed.120324","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":420,"wires":[]},{"id":"5d24ca08.3fc0b4","type":"redlink producer","z":"56844aa7.cab094","name":"REDLink producer","producerStoreName":"store-2","producerConsumer":"wombat1","producerTTL":15,"producerETT":300,"x":930,"y":60,"wires":[[],[]]},{"id":"fb4809bd.918ef8","type":"inject","z":"56844aa7.cab094","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":100,"wires":[["4b9aa26f.6f73fc"]]},{"id":"4b9aa26f.6f73fc","type":"function","z":"56844aa7.cab094","name":"","func":"msg = {\n    payload:'hey',\n    other:'stuff'\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":100,"wires":[["5d24ca08.3fc0b4","f6a7f0dc.fd51a"]]},{"id":"f6a7f0dc.fd51a","type":"debug","z":"56844aa7.cab094","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":160,"wires":[]},{"id":"eab68ba4.dfea68","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4432","peerAddress":"127.0.0.1","peerPort":"4431","name":"store-2","functions":"Put the basic functions in Here from the \"info tab\"","notifyInterval":15,"x":90,"y":100,"wires":[["d0048a44.1058d8"]]},{"id":"853635a7.2475e8","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":260,"wires":[]},{"id":"2fca8420.c65edc","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":320,"wires":[]},{"id":"dd25d7ba.00b258","type":"redlink consumer","z":"56844aa7.cab094","name":"wombat11","consumerStoreName":"store-1","x":150,"y":280,"wires":[["853635a7.2475e8"],["2fca8420.c65edc"]]},{"id":"6d5b8d28.9fc504","type":"redlink store","z":"56844aa7.cab094","listenAddress":"127.0.0.1","listenPort":"4433","peerAddress":"127.0.0.1","peerPort":"4432","name":"store-3","functions":"Put the basic functions in Here from the \"info tab\"","notifyInterval":15,"x":90,"y":160,"wires":[["f0423dc7.d1233"]]},{"id":"513f81cd.1bdd6","type":"redlink consumer","z":"56844aa7.cab094","name":"wombat31","consumerStoreName":"store-3","x":190,"y":500,"wires":[["b41aa8a3.25ed88"],["6aa84b13.fe25b4"]]},{"id":"b41aa8a3.25ed88","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":460,"wires":[]},{"id":"6aa84b13.fe25b4","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":520,"wires":[]},{"id":"ad8b331f.ee6a2","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":40,"wires":[]},{"id":"d0048a44.1058d8","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":100,"wires":[]},{"id":"f0423dc7.d1233","type":"debug","z":"56844aa7.cab094","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":230,"y":160,"wires":[]},{"id":"b77bb1fe.f667","type":"inject","z":"56844aa7.cab094","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["94512936.f73b38"]]},{"id":"94512936.f73b38","type":"function","z":"56844aa7.cab094","name":"","func":"msg.cmd = 'listConsumers'\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":220,"wires":[["6d5b8d28.9fc504","eab68ba4.dfea68","b4c6264e.3b3738"]]}]